.page {
  min-height: 80vh;

  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  justify-items: center;
}

.field {
}

.leftSection {
  min-height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex-grow: 1;
  flex-basis: 0;
}

.centerSection {
  min-height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex-grow: 1;
  flex-basis: 0;
}

.rightSection {
  min-height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex-grow: 1;
  flex-basis: 0;
}
